:root{
    --fundo:#9370DB;
    --cartao-frente: #8A2BE2;
    --cartao-verso:	#9400D3;
    --destaque: #4B0082;
    --preto: #000000;
    --branco: #FFFFFF;
}

body{
    background-color: var(--fundo);
}

footer{
    position: fixed;
    bottom: 0;
    background-color: var(--cartao-verso);
}